  <div id="bd">
        <div class="ban pr">
            <div class="item" style="background-image: url(images/ban.jpg);">
                <a href=""></a>
            </div>
            <div class="item" style="background-image: url(images/ban.jpg);">
                <a href=""></a>
            </div>
            <div class="item" style="background-image: url(images/ban.jpg);">
                <a href=""></a>
            </div>
            <div class="item" style="background-image: url(images/ban.jpg);">
                <a href=""></a>
            </div>
        </div>
    </div>
