<div class="m-main">
	<div class="wp" >
			<div class="l-money">
				<div class="g-tit">
					<a href="">更多</a>
					<h3>跟着赚钱</h3>
				</div>
				<ul class="con">
					<li>
						<div class="pic">
							<img src="images/pic1.jpg" alt="照片">
						</div>
						<div class="txt">
							<p class="name">
								爱斯基摩(昵称)
								<b>1分钟前</b>
							</p>
							<span>购买：<em>30手</em></span>
							<span>类型：<em>做空</em></span>
							<span>购买：<em>3.65</em></span>
							<p class="g-income">跟买者历史平均收益率	<b>+120%</b></p>
						</div>
						<div class="list">
							<a href="">跟单</a>
							<span>已跟随:<em>6358</em></span>
						</div>
					</li>
					<li>
						<div class="pic">
							<img src="images/pic1.jpg" alt="照片">
						</div>
						<div class="txt">
							<p class="name">
								爱斯基摩(昵称)
								<b>1分钟前</b>
							</p>
							<span>购买：<em>30手</em></span>
							<span>类型：<em>做空</em></span>
							<span>购买：<em>3.65</em></span>
							<p class="g-income">跟买者历史平均收益率	<b>+120%</b></p>
						</div>
						<div class="list">
							<a href="">跟单</a>
							<span>已跟随:<em>6358</em></span>
						</div>
					</li>
					<li>
						<div class="pic">
							<img src="images/pic1.jpg" alt="照片">
						</div>
						<div class="txt">
							<p class="name">
								爱斯基摩(昵称)
								<b>1分钟前</b>
							</p>
							<span>购买：<em>30手</em></span>
							<span>类型：<em>做空</em></span>
							<span>购买：<em>3.65</em></span>
							<p class="g-income">跟买者历史平均收益率	<b>+120%</b></p>
						</div>
						<div class="list">
							<a href="">跟单</a>
							<span>已跟随:<em>6358</em></span>
						</div>
					</li>
					<li>
						<div class="pic">
							<img src="images/pic2.jpg" alt="照片">
						</div>
						<div class="txt">
							<p class="name">
								爱斯基摩(昵称)
								<b>1分钟前</b>
							</p>
							<span>购买：<em>30手</em></span>
							<span>类型：<em>做空</em></span>
							<span>购买：<em>3.65</em></span>
							<p class="g-income">跟买者历史平均收益率	<b>+120%</b></p>
						</div>
						<div class="list">
							<a href="">跟单</a>
							<span>已跟随:<em>6358</em></span>
						</div>
					</li>
				</ul>
			</div>

			<div class="r-star">
				<div class="g-tit">
					<a href="">更多</a>
					<h3>跟着赚钱</h3>
				</div>
				<ul class="pictxt">
					<li>
						<img src="images/pic2.jpg">
						<div class="txt">
							<a href="" class="add"></a>
							<span>爱斯基摩	<i>|</i>	<em>372898人关注</em></span>
							<p class="g-income income2">近七天收益率	<b>126%</b></p>
						</div>
					</li>
					<li>
						<img src="images/pic2.jpg">
						<div class="txt">
							<a href="" class="add"></a>
							<span>爱斯基摩	<i>|</i>	<em>372898人关注</em></span>
							<p class="g-income income2">近七天收益率	<b>126%</b></p>
						</div>
					</li>
					<li>
						<img src="images/pic2.jpg">
						<div class="txt">
							<a href="" class="add"></a>
							<span>爱斯基摩	<i>|</i>	<em>372898人关注</em></span>
							<p class="g-income income2">近七天收益率	<b>126%</b></p>
						</div>
					</li>
					<li>
						<img src="images/pic2.jpg">
						<div class="txt">
							<a href="" class="add"></a>
							<span>爱斯基摩	<i>|</i>	<em>372898人关注</em></span>
							<p class="g-income income2">近七天收益率	<b>126%</b></p>
						</div>
					</li>
				</ul>
			</div>
	</div>
</div>
